@model IEnumerable<EcoTrackAdmin.Models.UserProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Ecotrack User List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <h5>ID</h5>
            </th>
            <th>
                <h5>EMAIL</h5>
            </th>
            <th>
                <h5>USERNAME</h5>
            </th>
            <th>
                <h5>TYPE</h5>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Type)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UniqueUserName" class="btn btn-yellow">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UniqueUserName" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UniqueUserName" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
